<%= form_for(@event) do |f| %>
<div class = "form-group">
  <div class="field mt-5">
    <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
    <div class="field">
      <%= f.label :start_date %><br>
      <%= f.date_field :start_date, class: 'form-control' %>
      </div>

    <div class="field">
      <%= f.label :duration %><br>
      <%= f.number_field :duration, step: 5, class: 'form-control' %>
      </div>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
      </div>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: 'form-control' %>
      </div>

    <div class="field">
      <%= f.label :price %><br>
      <%= f.number_field :price, in: 1..1000, class: 'form-control' %>
      </div>

    <div class="field">
      <%= f.label :location %><br>
      <%= f.text_field :location, class: 'form-control' %>
    </div>

    <h3>Choisir une image ?</h3>
      <%= f.file_field :event_picture, :required => true %>

  </div>
  <%= f.submit "Create", class: "btn btn-primary mt-5 btn-lg" %>
<% end %>